<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="true">

  <servlet>
    <servlet-name>filedown</servlet-name>
    <servlet-class>com.kaitan.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filedown</servlet-name>
    <url-pattern>/down</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.kaitan.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/img</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.kaitan.servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>RequestTest</servlet-name>
    <servlet-class>com.kaitan.servlet.RequestTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>



</web-app>